# defaults
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/*.map
**/*.ts

# additional
.eslintignore
.eslintrc.js
.gitattributes
.github/**
.prettierignore
node_modules/**
out/**
!out/extension.js
prettier.config.js
tools/**
