# defaults
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/*.map
**/*.ts

# additional
.eslintignore
.eslintrc.js
.gitattributes
.github/**
.prettierignore
esbuild.mjs
node_modules/**
out/**
!out/extension.js
!out/tree-sitter.wasm
!out/tree-sitter-satysfi.wasm
prettier.config.js
tools/**
